[submodule "submodules/LinuxMirrors"]
	path = submodules/LinuxMirrors
	url = https://github.com/SuperManito/LinuxMirrors.git
[submodule "submodules/aiperf"]
	path = submodules/aiperf
	url = https://github.com/ai-dynamo/aiperf.git
[submodule "Claude-Code-Game-Studios"]
	path = Claude-Code-Game-Studios
	url = https://github.com/Donchitos/Claude-Code-Game-Studios
