[submodule "submodules/LinuxMirrors"]
	path = submodules/LinuxMirrors
	url = https://github.com/SuperManito/LinuxMirrors.git
[submodule "submodules/aiperf"]
	path = submodules/aiperf
	url = https://github.com/ai-dynamo/aiperf.git
[submodule "submodules/Claude-Code-Game-Studios"]
	path = submodules/Claude-Code-Game-Studios
	url = https://github.com/Donchitos/Claude-Code-Game-Studios
[submodule "submodules/rtx6kpro"]
	path = submodules/rtx6kpro
	url = https://github.com/local-inference-lab/rtx6kpro.git
[submodule "submodules/AIServerSetup"]
	path = submodules/AIServerSetup
	url = https://github.com/Teachings/AIServerSetup.git
[submodule "submodules/docker-pull-tar"]
	path = submodules/docker-pull-tar
	url = https://github.com/topcss/docker-pull-tar
[submodule "submodules/CLASP"]
	path = submodules/CLASP
	url = https://github.com/jedarden/CLASP
